[submodule "catkin_ws/src/gtsam_backend"]
	path = catkin_ws/src/gtsam_backend
	url = git@github.com:UMich-BipedLab/gtsam_backend.git
[submodule "catkin_ws/cassie_msgs"]
	path = catkin_ws/cassie_msgs
	url = git@github.com:UMich-BipedLab/cassie_msgs.git
